.login {
  padding: 80px 20px;
  background: #e7e2eb;
}
.login h3 {
  margin-left: 15%;
  color: #583672;
  padding-bottom: 20px;
}
.login input {
  margin-bottom: 20px;
  border-radius: 6px;
  width: 90%;
  border: 0 0 1 0;
  color: #583672;
}
.login button {
  margin-left: 25%;
  margin-top: 20%;
  padding: 5px 40px 5px 40px;
  border:0;
  color: #fff;
  background: #583672;
}
.welcome {
  text-align: center;
  padding: 200px 50px 200px 50px;
  color: #310938;
  background: linear-gradient(
      rgba(195, 78, 158, 0.45),
      rgba(200, 74, 141, 0.7),
      rgba(255, 0, 0, 0.45)
    ),url('https://res.cloudinary.com/kayode/image/upload/v1572935299/icons/manlaptop2_pl9owi.jpg') no-repeat;
  background-size: cover;
  
}
.welcome h2 {
  font-family: Pacifico;
}
.title {
  font-family: Pacifico;
}
header img {
  width: 40px;
  height: 40px;
}
header {
  color: #583672;
  border-bottom: 3px solid #fff;
  background: #f7f6f9;
}
.logo {
  padding-left: 80px;
}
.create-emp-container {
  padding: 40px;
  margin: auto;
  width: 90%;
  border: 3px solid transparent;
}
.form-input {
  margin: auto;
  padding: 50px;
}
.create-employee {
  padding-right: 40px;
  padding-left: 40px;
  background: #e7e2eb;
}
.create-employee .epm-input {
  width: 400px;
  margin-right: 10px;
}
.create-employee label {
  color:#583672;
}
.gender label {
  margin-right: 20px;
  padding-left: 5px;
}
.gender {
  background: #fff;
  width: 45%;
}
.gender input {
  margin-right: 5px;
}

.submit {
  width: 30%;
  margin-left: 25%;
  background: #583672;
  color: #fff;
  padding: 10px 10px;
  border: 0;
}

.emp-title {
  margin-left: 25%;
  color:#583672;
}
